<div class="container-fluid">
	<div class="dashboard-box-top">
	<div class="row">
		<div class="col-md-12">
			<h2 class="main-heading latolight sky-blue">Edit Post</h2>
		</div>
	</div>
	<div class="row">
		<%= form_for @post do |f| %>
		<div class="col-md-8">
			<div class="form-group">
				<%= f.text_field :title, class: "form-control-post-title", placeholder: "Post Title", autofocus: true %>
			</div>
			<div class="form-group">
				<%= f.text_area :body, class: "form-control redactor" %>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label>Author</label>
				<%= f.text_field :author, class: "form-control", value: "Connie Chadwick" %>
			</div>
			<div class="form-group">
				<label>Tags</label>
				<%= f.text_field :all_tags, class: "form-control", placeholder: "Tags separated by a comma" %>
			</div>
			<div class="form-group" id="date_picker">
				<label>Publication Date</label>
				<%= f.text_field :pub_date, class: "form-control", placeholder: "Publication Date" %>
			</div>
			<div class="form-group">
				<% if @post.status == "published" %>
					<p class="latobold main-text">Current Status: <span class="sky-blue"><%= @post.status.capitalize %></span></p>
					<%= f.submit "Update Post", class: "btn btn-navy", name: "publish" %>
					<%= f.submit "Unpublish", class: "btn btn-default", name: "draft" %>
				<% elsif @post.status == "draft" %>
					<p class="latobold main-text">Current Status: <span class="light-gray"><%= @post.status.capitalize %></span></p>
					<%= f.submit "Publish Now", class: "btn btn-navy", name: "publish" %>
					<%= f.submit "Update Draft", class: "btn btn-default", name: "draft" %>
				<% end %>
			</div>

			
			
			
  
  <div class="tag_cloud">
  	<h3 class="latobold">Used tags:</h3>
    <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
      <p class="tag-box"><%= tag.name %></p>
    <% end %>
  </div>
		</div>

		<% end %>

		
	</div>
</div>
</div>