<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h2>Basic Divorce Prospect</h2>
	<p>
		Name: <%= @prospect.full_name %><br>
		Email: <%= @prospect.email %><br>
		Phone: <%= @prospect.phone %>
	</p>

	<p>Spouse's Name: <%= @prospect.full_name_spouse %></p>
	
	<p>
		Address:<br>
		<%= @prospect.street %><br>
		<%= @prospect.city %>, <%= @prospect.state %> <%= @prospect.zip %>
	</p>

	<p>
		How long resided there? <%= @prospect.resided_how_long %>
	</p>

	<p>
		Date of Marriage: <%= @prospect.marriage_date %><br>
		County of Marriage: <%= @prospect.county_of_marriage %>
	</p>

	

</body>
</html>