<%= render 'partials/navbar' %>
<div class="about-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="latoblack question-hdr navy">Divorce doesn't have to be expensive.</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p class="latolight main-text-long">The average contested divorce will cost each party $10,000. For some this is a worthy cost for their freedom. For others it's a financial burden that takes years to overcome. It does not have to be so. If you can come to agreement with the other party ahead of time, you can save thousands of dollars in legal fees and countless hours in mediation.</p>
				<!--<p class="latoblack main-text-btm">I offer three options:</p>-->
			</div>
		</div>

		<div class="row option-row">
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="option-hdr">
            <h3 class="latoblack option-hdr-h3 white">Basic ID</h3>
            <p class="latoregular option-hdr-p white">No real estate or children involved.</p>
            <!--<p class="latolight option-hdr-p whiteSub">No real estate or children involved.</p>-->
          </div>
          <div class="caption">
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok lime icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One hour initial meeting</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok lime icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Draft of documents and one revision</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok lime icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One other thing as well as the other one that I just mentioned</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok lime icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One possibly something else</p>

            <hr>
            <h2 class="latoblack caption-price">$1,500</h2>
            <p class="latolight payment-due">Payment due at initial consult.</p>
            <!--<h3 class="text-center latobold">Package 1</h3>-->
            <p><a href="#" class="btn btn-bright" role="button" data-toggle="modal" data-target="#package1">Get Started</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="option-hdr">
            <h3 class="latoblack option-hdr-h3 white">ID with Real Estate</h3>
            <p class="latoregular option-hdr-p white">No real estate or children involved.</p>
            <!--<p class="latolight option-hdr-pSub">No real estate or children involved.</p>-->
          </div>
          <div class="caption">
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok lime icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One hour initial meeting</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok lime icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Draft of documents and one revision</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok lime icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One other thing as well as the other one that I just mentioned</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok lime icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One possibly something else</p>

            <hr>
            <h2 class="latoblack caption-price">$2,000</h2>
            <p class="latolight payment-due">Payment due at initial consult.</p>
            <!--<h3 class="text-center latobold">Package 1</h3>-->
            <p><a href="#" class="btn btn-bright" role="button" data-toggle="modal" data-target="#package2">Get Started</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="option-hdr">
            <h3 class="latoblack option-hdr-h3 white">ID with Children</h3>
            <p class="latoregular option-hdr-p white">No real estate or children involved.</p>
            <!--<p class="latolight option-hdr-p whiteSub">No real estate or children involved.</p>-->
          </div>
          <div class="caption">
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok lime icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One hour initial meeting</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok lime icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Draft of documents and one revision</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok lime icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One other thing as well as the other one that I just mentioned</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok lime icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One possibly something else</p>

            <hr>
            <h2 class="latoblack caption-price">$2,500</h2>
            <p class="latolight payment-due">Payment due at initial consult.</p>
            <!--<h3 class="text-center latobold">Package 1</h3>-->
            <p><a href="#" class="btn btn-bright" role="button" data-toggle="modal" data-target="#package3">Get Started</a></p>
          </div>
        </div>
      </div>

		<!--<div class="row">
			<div class="col-md-12">
				<h2 class="latoblack question-hdr">The steps...</h2>
			</div>
		</div>-->
	</div>
</div>
<div class="step-list-container">
	<div class="container">
		<div class="row secondary-header">
			<div class="col-md-12">
				<h2 class="latoblack question-hdr">Here are the steps in the process...</h2>
			</div>
		</div>


		<div class="row step-top-row">
			<div class="col-md-4">
				<h1 class="latoblack step-number">01</h1>
				<h1 class="latoregular step-title">Complete Statistical Information</h1>

				<p class="latolight main-text step-text">Fill out the statistical information by selecting the package that is best suitable for your needs. A conflict check will be completed, and if not conflict is present, the client will be contactd to set up appointment.</p>
			</div>
			<div class="col-md-4">
				<h1 class="latoblack step-number">02</h1>
				<h1 class="latoregular step-title">Complete Divorce Packet & Initial Consult</h1>

				<p class="latolight main-text step-text">Client needs to bring divorce packet filled completely out with payment in full.  Both parties will come. No additional parties or children will be permitted. Client should have an agreed settlement in mind, but they are free to ask for advice on how to handle certain situations.</p>
			</div>
			<div class="col-md-4">
				<h1 class="latoblack step-number">03</h1>
				<h1 class="latoregular step-title">Draft Production and Review</h1>

				<p class="latolight main-text step-text">Client will recieve a draft of their paperwork within 7 days. Both parties will review the documents and send over ONE round of edits. FINAL copy will be produced and delivered within 7 days.</p>
			</div>
		</div>
		<div class="row step-bottom-row">
			<div class="col-md-4">
				<h1 class="latoblack step-number">04</h1>
				<h1 class="latoregular step-title">Signing of Final Paperwork and Filing</h1>

				<p class="latolight main-text step-text">Parties will both come in to sign the paperwork for filing and pay the applicable filing fees. The Petition, Marital Dissolution Agreement and Summons are filed first. IF the parties have children, Permanent Parenting Plan, child support worksheet, and wage assignment (if needed) will also be filed.</p>
			</div>
			<div class="col-md-4">
				<h1 class="latoblack step-number">05</h1>
				<h1 class="latoregular step-title">Set Final Hearing</h1>

				<p class="latolight main-text step-text">Once the defending party signs the Summons, we will file an Order to Set final hearing. (60 days no kids; 90 days with kids)</p>
			</div>
			<div class="col-md-4">
				<h1 class="latoblack step-number">06</h1>
				<h1 class="latoregular step-title">Final Hearing</h1>

				<p class="latolight main-text step-text">Petitioning party must attend final hearing to finalize the divorce. This process consists of an appearance before the circuit judge to answer a few questions and takes only a few minutes. </p>
			</div>
		</div>

	</div>

</div>
<div class="page-container">
<div class="container">
<div class="row">
      <div class="col-md-12">
        <h2 class="latoblack question-hdr navy">Compare Options</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-container">
        <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th width="40%" class="table-cell-background">
              <p class="latobold table-text">Features</p>
            </th>
            <th width="20%" class="table-cell-background">
              <p class="latobold text-center table-text">Basic Divorce</p>
            </th>
            <th width="20%" class="table-cell-background">
              <p class="latobold text-center table-text">Divorce with Property</p>
            </th>
            <th width="20%" class="table-cell-background">
              <p class="latobold text-center table-text">Divorce with Children</p>
            </th>
          </tr>
          <tr>
            <td>
              <p class="latolight table-text">One hour consultation</p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="latolight table-text">Draft of documentation with one round of revisions</p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="latolight table-text">Some other thing that all plans have in common</p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="latolight table-text">Some other thing that all plans have in common</p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="latolight table-text">Some other thing that all plans have in common</p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="latolight table-text">Some other thing that all plans have in common</p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="latolight table-text">Some other thing that all plans have in common</p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="latolight table-text">Property Forms</p>
            </td>
            <td>
              <p class="white text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="latolight table-text">Child Support Worksheet</p>
            </td>
            <td>
              <p class="white text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="white text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="latolight table-text">Parenting Plan</p>
            </td>
            <td>
              <p class="white text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="white text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
            <td>
              <p class="pale-green text-center table-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
            </td>
          </tr>
        </table>
        </div>
        </div>
        
      </div>
    </div>
</div>
</div>

<%= render 'partials/footer' %>


<!-- MODAL FOR PACKAGE 1 -->
<!-- Modal -->
<div class="modal fade" id="package1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title latoregular text-center navy" id="myModalLabel">Basic Divorce</h3>
      </div>
      <div class="modal-body">
        <%= form_for Prospect.new do |f| %>
        <%= invisible_captcha %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Full Name</label>
                <%= f.text_field :full_name, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Date of Marriage</label>
                <%= f.text_field :date_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">County of Marriage</label>
                <%= f.text_field :county_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Street Addresss</label>
                <%= f.text_field :street, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">City</label>
                <%= f.text_field :city, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">State</label>
                <%= f.text_field :state, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Zip</label>
                <%= f.text_field :zip, class: "form-control-modal" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How long resided there?</label>
                <%= f.text_field :resided_how_long, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Email</label>
                <%= f.text_field :email, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Phone</label>
                <%= f.text_field :phone, class: "form-control-modal" %>
              </div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", class: "btn btn-bright", name: "about1" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- END PACKAGE 1 MODAL -->

<!-- MODAL FOR PACKAGE 2 -->
<!-- Modal -->
<div class="modal fade" id="package2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title latoregular text-center navy" id="myModalLabel">Divorce with Property</h3>
      </div>
      <div class="modal-body">
        <%= form_for Prospect.new do |f| %>
        <%= invisible_captcha %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Full Name</label>
                <%= f.text_field :full_name, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Date of Marriage</label>
                <%= f.text_field :date_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">County of Marriage</label>
                <%= f.text_field :county_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Street Addresss</label>
                <%= f.text_field :street, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">City</label>
                <%= f.text_field :city, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">State</label>
                <%= f.text_field :state, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Zip</label>
                <%= f.text_field :zip, class: "form-control-modal" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How long resided there?</label>
                <%= f.text_field :resided_how_long, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Email</label>
                <%= f.text_field :email, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Phone</label>
                <%= f.text_field :phone, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                
                <label class="green-label latoregular">
                  <%= f.check_box :co_own_business %>
                  Check if you co-own a business
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                <label class="green-label latoregular">
                  <%= f.check_box :co_own_property %>
                  Check if you co-own real estate
                </label>
              </div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", class: "btn btn-bright", name: "about2" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- END PACKAGE 2 MODAL -->

<!-- MODAL FOR PACKAGE 3 -->
<!-- Modal -->
<div class="modal fade" id="package3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title latoregular text-center navy" id="myModalLabel">Divorce with Children</h3>
      </div>
      <div class="modal-body">
        <%= form_for Prospect.new do |f| %>
        <%= invisible_captcha %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Full Name</label>
                <%= f.text_field :full_name, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Date of Marriage</label>
                <%= f.text_field :date_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">County of Marriage</label>
                <%= f.text_field :county_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Street Addresss</label>
                <%= f.text_field :street, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">City</label>
                <%= f.text_field :city, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">State</label>
                <%= f.text_field :state, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Zip</label>
                <%= f.text_field :zip, class: "form-control-modal" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How long resided there?</label>
                <%= f.text_field :resided_how_long, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Email</label>
                <%= f.text_field :email, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Phone</label>
                <%= f.text_field :phone, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How many children?</label>
                <%= f.text_field :number_of_children, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">What are their ages?</label>
                <%= f.text_field :ages, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                <label class="green-label latoregular">
                  <%= f.check_box :co_own_business %>
                  Check if you co-own a business
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                
                <label class="green-label latoregular">
                  <%= f.check_box :co_own_property %>
                  Check if you co-own real estate
                </label>
              </div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", class: "btn btn-bright", name: "about3" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- END PACKAGE 3 MODAL -->


<!--<ol>
					<li>Fill out statistical information page online. Submit.</li>
					<li> My assistant will review, do the conflicts check, and if no conflict, will contact the client to set up appointment.</li>
					<li>Client needs to bring divorce packet filled completely out with payment in full.  Both parties will come. No additional parties or children will be permitted. Client should have an agreed settlement in mind, but they are free to ask for advice on how to handle certain situations.</li>
					<li>They will receive the draft copy of their paperwork within 7 days.</li>
					<li>Both parties will review and send over ONE round of edits.</li>
					<li> FINAL copy will be ready within 7 days.</li>
					<li>Parties will both come in to sign the paperwork for filing and pay the applicable filing fees.</li>
					<li> The Petition, Marital Dissolution Agreement and Summons are filed first.</li>
					<li>IF the parties have children, Permanent Parenting Plan, child support worksheet, and wage assignment (if needed) will also be filed.</li>
					<li>Once the defending party signs the Summons, we will file an Order to Set final hearing. (60 days no kids; 90 days with kids)</li>
					<li>Once the defending party signs the Summons, we will file an Order to Set final hearing. (60 days no kids; 90 days with kids)</li>
					<li>Petitioning party must attend final hearing (5 minutes) to finalize divorce.</li>
				</ol>-->
