<%= render 'partials/navbar' %>
<div class="page-container">
	<div class="container">
		
		<div class="row">
			<div class="col-md-8">
				<h2 class="latoblack question-hdr">Basic Divorce</h2>
				<p class="latolight main-text">You have taken the first step of filling out the initial information needed to do a conflict check to ensure that we can continue. Download the divorce packet and print off. This information packet must be filled out completely and brought to your initial consult. If there are any questions about the forms you can email us at <%= mail_to "email@email.com" %>.</p>

				<p class="latolight main-text">
					<%= link_to "" do %>
						<%= image_tag "pdf.png", height: "40", style: "margin-right:10px;" %> PDF document</p>
					<% end %>
				<h1 class="latoblack">Next Steps:</h1>

				<h2 class="latoregular pale-green next-steps">Complete Divorce Packet & Initial Consult</h2>
				<p class="latolight main-text">Client needs to bring divorce packet filled completely out with payment in full.  Both parties will come. No additional parties or children will be permitted. Client should have an agreed settlement in mind, but they are free to ask for advice on how to handle certain situations.</p>

				<h2 class="latoregular pale-green next-steps">Produce First Draft for Review</h2>
				<p class="latolight main-text">Client will recieve a draft of their paperwork within 7 days. Both parties will review the documents and send over ONE round of edits. FINAL copy will be produced and delivered within 7 days.</p>

				<h2 class="latoregular pale-green next-steps">Signing of Final Papers and Filing</h2>
				<p class="latolight main-text">Parties will both come in to sign the paperwork for filing and pay the applicable filing fees. The Petition, Marital Dissolution Agreement and Summons are filed first. IF the parties have children, Permanent Parenting Plan, child support worksheet, and wage assignment (if needed) will also be filed.</p>


				<h2 class="latoregular pale-green next-steps">Final Court Hearing</h2>
				<p class="latolight main-text">Once the defending party signs the Summons, we will file an Order to Set final hearing. (60 days no kids; 90 days with kids). Petitioning party must attend final hearing to finalize the divorce. This process consists of an appearance before the circuit judge to answer a few questions and takes only a few minutes. </p>


			</div>
			<div class="col-md-offset-1 col-md-3">
				<h2 class="latoblack helpful-links">Helpful Links</h2>
			</div>
		</div>
	</div>
</div>
<%= render 'partials/footer' %>