<% content_for :title, "About Connie" %>
<% content_for :content, "Connie Chadwick is an attorney in Franklin, TN, practicing family law, personal injury, and civil litigations." %>
<%= render 'partials/navbar' %>
<div class="bio-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="latoblack about-hdr">A little bit about Connie...</h2>
				<%= image_tag "connie2_alt3.jpg", class: "about-img" %>

				<p class="latolight about-text"><span class="latoblack">Connie Chadwick</span> focuses her law practice on civil litigation, personal injury, and family law.  Connie earned her Doctorate of Jurisprudence from The Nashville School of Law after earning her Bachelor of Science in Accounting from Lipscomb University.  Connie is a seasoned business professional who has transitioned to the legal profession with an intense drive to achieve and deliver results for her clients. As the first female associate at Schell & Davies, LLC, Connie adds a unique perspective and set of experiences to an extremely well known and successful domestic litigation firm.</p>
				<p class="latolight about-text">Connie has strong management expertise and ability to oversee diverse objectives and challenging deadlines with a sense of confidence and commitment. With more than 15 years of experience in small business and entrepreneurial organizations within the banking, construction and real estate industries, Connie brings a diverse skill set to the table.  She is extremely detailed-oriented with excellent research, investigative, and communication skills. Connie demonstrates independent judgment and decision-making abilities with the highest level of confidentiality and ethics.</p>
				<p class="latolight about-text">On a more personal note, Connie is a single parent of four children whose ages range from 9 years to 17 years old. Connie knows from experience how painful and traumatic divorce can be to the couple and family. Divorce is not only the most significant  set back financially, but divorce can derail the family traditions and customs.  Children must be handled with care.  The parenting plan that sets out all the co-parenting rules from the beginning is of utmost importance.  Connie guides her clients through the divorce process with empathy in tact for all those involved. A great attorney not only offers legal advice, but real life advice that works for you. Connie is the best at combining both of those attributes.</p>

			</div>

		</div>
	</div>
</div>
<div class="message-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="latolight about-msg">Send me a message...</h2>
				<div class="row">
					<%= form_for Contact.new do |f| %>
					<%= invisible_captcha %>
					<div class="col-md-6">
						<div class="form-group">
							<%= f.text_field :name, class: "form-control-msg", placeholder: "Full Name" %>
						</div>
						<div class="form-group">
							<%= f.text_field :email, class: "form-control-msg", placeholder: "Email" %>
						</div>
						<div class="form-group">
							<%= f.text_field :phone, class: "form-control-msg", placeholder: "Phone" %>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<%= f.text_area :message, class: "form-control-msg", placeholder: "Add a message", rows: "6", required: "required" %>
						</div>
					</div>
					<div class="col-md-12">
						<%= f.submit "Send Message", class: "btn btn-bright", name: "bio" %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'partials/footer' %>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67516802-1', 'auto');
    ga('send', 'pageview');

</script>
