<%= render 'partials/navbar' %>

<div class="page-container">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2 class="latoblack question-hdr navy">Got questions?</h2>
				<p class="latolight gray">* Click on the question to view the answer.</p>
				

				<%= render 'partials/panels' %>
			</div>
			<div class="col-md-offset-1 col-md-3">
				<h3 class="latobold faq-question navy">Have another question?</h3>
				<p class="latoregular gray">If your question is not answered by our FAQ, contact us using the form below.</p>
				<div class="faq-form">
					<%= form_for Contact.new do |f| %>
						<div class="form-group">
							<label class="sr-only">Name</label>
							<%= f.text_field :name, class: "form-control", placeholder: "Full Name" %>
						</div>
						<div class="form-group">
							<label class="sr-only">Name</label>
							<%= f.text_field :email, class: "form-control", placeholder: "Email" %>
						</div>
						<div class="form-group">
							<label class="sr-only">Name</label>
							<%= f.text_field :phone, class: "form-control", placeholder: "Phone" %>
						</div>
						<div class="form-group">
							<label class="sr-only">Name</label>
							<%= f.text_area :message, class: "form-control", placeholder: "What is your question?", rows: "5" %>
						</div>
						<%= f.submit "Submit Question", class: "btn btn-bright", name: "ask" %>
					<% end %>
				</div>
			</div>	
		</div>
	</div>
</div>

<%= render 'partials/footer' %>