<%= render 'partials/navbar' %>
<!-- HERO CONTAINER -->
<div class="hero-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8">
        <div class="hero-text-container">
          <h1 class="latoblack hero-title navy">Untying the Knot?</h1>
          <p class="latolight hero-text charcoal">An uncontested divorce doesn't have to cost you a fortune. We can walk you through the process professionally and economically.</p>
          <a href="/about" class="btn-hero btn-bright">Learn More</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-4">
        <%= image_tag "untie.jpg", class: "untie-img" %>
      </div>
    </div>
  </div>
</div>
<!-- END HERO -->



<!-- OPTIONS CONTAINER -->
<div class="options-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="latobold text-center options-text navy">How can we meet your needs?</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-0 col-md-4 col-sm-offset-1 col-sm-10">
        <div class="thumbnail">
          <div class="option-hdr">
            <h3 class="latobold option-hdr-h3">Basic Divorce</h3>
            <p class="latolight option-hdr-p">No real estate or children involved</p>
            <!--<p class="latolight option-hdr-pSub">No real estate or children involved.</p>-->
          </div>
          <div class="caption">
            <div class="checkmarks-top">
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One hour custom consultation</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Draft of documents and one revision</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Representation at final hearing</p>
      </div>

            <hr>

            <h2 class="latoblack caption-price">$1,500</h2>
            <p class="latolight payment-due">Payment due at initial consult.</p>
            <!--<h3 class="text-center latobold">Package 1</h3>-->
            <p><a href="#" class="btn btn-bright" role="button" data-toggle="modal" data-target="#package1">Get Started</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-offset-0 col-md-4 col-sm-offset-1 col-sm-10">
        <div class="thumbnail">
          <div class="option-hdr">
            <h3 class="latobold option-hdr-h3">Divorce with Real Estate</h3>
            <p class="latolight option-hdr-p">You co-own real estate or business</p>
            <!--<p class="latolight option-hdr-pSub">No real estate or children involved.</p>-->
          </div>
          <div class="caption">
            <div class="checkmarks">
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One hour custom consultation</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Draft of documents and one revision</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Quitclaim Deed for land or homes</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Modify business formation documents</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Representation at final hearing</p>
          </div>

            <hr>
            <h2 class="latoblack caption-price">$2,000</h2>
            <p class="latolight payment-due">Payment due at initial consult.</p>
            <!--<h3 class="text-center latobold">Package 1</h3>-->
            <p><a href="#" class="btn btn-bright" role="button" data-toggle="modal" data-target="#package2">Get Started</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-offset-0 col-md-4 col-sm-offset-1 col-sm-10">
        <div class="thumbnail">
          <div class="option-hdr">
            <h3 class="latobold option-hdr-h3">Divorce with Children</h3>
            <p class="latolight option-hdr-p">One or more children from marriage</p>
            <!--<p class="latolight option-hdr-p whiteSub">No real estate or children involved.</p>-->
          </div>
          <div class="caption">
            <div class="checkmarks">
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One hour custom consultation</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Draft of documents and one revision</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Custom permanent parenting plan</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Child support order & wage assignment</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Representation at final hearing</p>
          </div>

            <hr>
            <h2 class="latoblack caption-price">$2,500</h2>
            <p class="latolight payment-due">Payment due at initial consult.</p>
            <!--<h3 class="text-center latobold">Package 1</h3>-->
            <p><a href="#" class="btn btn-bright" role="button" data-toggle="modal" data-target="#package3">Get Started</a></p>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-offset-0 col-md-12 col-sm-offset-1 col-sm-10">
        <div class="exceptions">
          <%= render 'partials/disclaimer' %>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- END OPTIONS -->


<div class="contested-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="latobold text-center contested-text navy">Already in a contested divorce?</h2>

        <p class="latolight hero-text charcoal text-center">If you find yourself in a contested divorce set up a free consultation today. Click the link below to submit initial information and we will contact you within 24 hours to set up an appointment.</p>

        <p class="text-center"><a href="#" class="btn-hero btn-bright" role="button" data-toggle="modal" data-target="#contestedDivorce">Get Started</a></p>
      </div>
    </div>
    
  </div>
</div>

<!--<p><a href="#" class="btn btn-bright" role="button" data-toggle="modal" data-target="#package1">Get Started</a></p>-->

<!-- PROFILE CONTAINER -->
<div class="profile-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-2 col-sm-offset-0 col-sm-4">
        <%= image_tag "connie_sq.jpg", class: "profile-img_sq" %>
      </div>
      <div class="col-xs-12 col-md-10 col-sm-8">
        <!--<div class="open-quote">
          <%= image_tag "open_quote.png", width: "50px" %>
        </div>-->
        <blockquote>
          <h2 class="latolight navy noTopMargin">Divorce doesn't have to be expensive. My goal is to help my clients retain as much of their marital estate as possible instead of paying attorneys to fight over it.</h2>
          <h3 class="latolight text-right noMarginTop">&mdash; Connie Chadwick, Attorney&nbsp;at&nbsp;Law</h3>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<!--<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "connie2.jpg", class: "profile-img" %>
    </div>
    <div class="col-md-9">
      <h2 class="latoblack">This doesn't have to be at all painful!</h2>
    </div>
  </div>
</div>-->
<!-- END PROFILE -->

<!-- FOOTER CONTAINER -->
<%= render 'partials/footer' %>
<!-- END FOOTER -->




<!-- MODAL FOR PACKAGE 1 -->
<!-- Modal -->
<div class="modal fade" id="package1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <%= form_for Prospect.new do |f| %>
    <%= invisible_captcha %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title latoregular text-center navy" id="myModalLabel">Basic Divorce</h3>
      </div>
      <div class="modal-body">
        
          <div class="row">
            <div class="col-md-12">
              <p class="latolight main-text">Please complete the information below so that we can perform a conflict check. Once it has been determined there are no conflicts we will contact you to set-up your initial consult.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Full Name</label>
                <%= f.text_field :full_name, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Spouse's Full Name</label>
                <%= f.text_field :full_name_spouse, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Date of Marriage</label>
                <%= f.text_field :marriage_date, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">County of Marriage</label>
                <%= f.text_field :county_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Street Addresss</label>
                <%= f.text_field :street, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">City</label>
                <%= f.text_field :city, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">State</label>
                <%= f.text_field :state, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Zip</label>
                <%= f.text_field :zip, class: "form-control-modal" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How long resided there?</label>
                <%= f.text_field :resided_how_long, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Email</label>
                <%= f.text_field :email, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Phone</label>
                <%= f.text_field :phone, class: "form-control-modal" %>
              </div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", class: "btn btn-bright", name: "home1" %>
        <!--<button type="button" class="btn btn-lime">Submit</button>-->
       
      </div>
    </div>
     <% end %>
  </div>
</div>
<!-- END PACKAGE 1 MODAL -->

<!-- MODAL FOR PACKAGE 2 -->
<!-- Modal -->
<div class="modal fade" id="package2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <%= form_for Prospect.new do |f| %>
    <%= invisible_captcha %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title latoregular text-center navy" id="myModalLabel">Divorce with Property</h3>
      </div>
      <div class="modal-body">
        
          <div class="row">
            <div class="col-md-12">
              <p class="latolight main-text">Please complete the information below so that we can perform a conflict check. Once it has been determined there are no conflicts we will contact you to set-up your initial consult.</p>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Full Name</label>
                <%= f.text_field :full_name, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Spouse's Full Name</label>
                <%= f.text_field :full_name_spouse, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Date of Marriage</label>
                <%= f.text_field :marriage_date, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">County of Marriage</label>
                <%= f.text_field :county_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Street Addresss</label>
                <%= f.text_field :street, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">City</label>
                <%= f.text_field :city, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">State</label>
                <%= f.text_field :state, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Zip</label>
                <%= f.text_field :zip, class: "form-control-modal" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How long resided there?</label>
                <%= f.text_field :resided_how_long, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Email</label>
                <%= f.text_field :email, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Phone</label>
                <%= f.text_field :phone, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                
                <label class="green-label latoregular">
                  <%= f.check_box :co_own_business %>
                  Check if you co-own a business
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                
                <label class="green-label latoregular">
                  <%= f.check_box :co_own_property %>
                  Check if you co-own real estate
                </label>
              </div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", class: "btn btn-bright", name: "home2" %>
      </div>
     
    </div>
  <% end %>
  </div>
</div>
<!-- END PACKAGE 2 MODAL -->

<!-- MODAL FOR PACKAGE 3 -->
<!-- Modal -->
<div class="modal fade" id="package3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <%= form_for Prospect.new do |f| %>
    <%= invisible_captcha %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title latoregular text-center navy" id="myModalLabel">Divorce with Children</h3>
      </div>
      <div class="modal-body">
        
          <div class="row">
            <div class="col-md-12">
              <p class="latolight main-text">Please complete the information below so that we can perform a conflict check. Once it has been determined there are no conflicts we will contact you to set-up your initial consult.</p>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Full Name</label>
                <%= f.text_field :full_name, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Spouse's Full Name</label>
                <%= f.text_field :full_name_spouse, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Date of Marriage</label>
                <%= f.text_field :marriage_date, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">County of Marriage</label>
                <%= f.text_field :county_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Street Addresss</label>
                <%= f.text_field :street, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">City</label>
                <%= f.text_field :city, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">State</label>
                <%= f.text_field :state, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Zip</label>
                <%= f.text_field :zip, class: "form-control-modal" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How long resided there?</label>
                <%= f.text_field :resided_how_long, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Email</label>
                <%= f.text_field :email, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Phone</label>
                <%= f.text_field :phone, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How many children?</label>
                <%= f.text_field :number_of_children, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">What are their ages?</label>
                <%= f.text_field :ages, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                
                <label class="green-label latoregular">
                  <%= f.check_box :co_own_business %>
                  Check if you co-own a business
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                
                
                <label class="green-label latoregular">
                  <%= f.check_box :co_own_property %>
                  Check if you co-own real estate
                </label>
              </div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", class: "btn btn-bright", name: "home3" %>
      </div>
    
    </div>
      <% end %>
  </div>
</div>
<!-- END PACKAGE 3 MODAL -->


<!-- MODAL FOR CONTESTED DIVORCE INFO -->
<!-- Modal -->
<div class="modal fade" id="contestedDivorce" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <%= form_for Prospect.new do |f| %>
    <%= invisible_captcha %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title latoregular text-center navy" id="myModalLabel">Contested Divorce Required Info</h3>
      </div>
      <div class="modal-body">
        
          <div class="row">
            <div class="col-md-12">
              <p class="latolight main-text">Please complete the information below so that we can perform a conflict check. Once it has been determined there are no conflicts we will contact you to set-up your initial consult.</p>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Full Name</label>
                <%= f.text_field :full_name, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Spouse's Full Name</label>
                <%= f.text_field :full_name_spouse, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Date of Marriage</label>
                <%= f.text_field :marriage_date, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">County of Marriage</label>
                <%= f.text_field :county_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Street Addresss</label>
                <%= f.text_field :street, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">City</label>
                <%= f.text_field :city, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">State</label>
                <%= f.text_field :state, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Zip</label>
                <%= f.text_field :zip, class: "form-control-modal" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How long resided there?</label>
                <%= f.text_field :resided_how_long, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Email</label>
                <%= f.text_field :email, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Phone</label>
                <%= f.text_field :phone, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How many children?</label>
                <%= f.text_field :number_of_children, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">What are their ages?</label>
                <%= f.text_field :ages, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                
                <label class="green-label latoregular">
                  <%= f.check_box :co_own_business %>
                  Check if you co-own a business
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                
                
                <label class="green-label latoregular">
                  <%= f.check_box :co_own_property %>
                  Check if you co-own real estate
                </label>
              </div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", class: "btn btn-bright", name: "contested" %>
      </div>
    
    </div>
      <% end %>
  </div>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67516802-1', 'auto');
    ga('send', 'pageview');

</script>