<%= render 'partials/navbar' %>

<!-- HERO CONTAINER -->
<div class="hero-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="hero-text-container">
          <h1 class="latoblack hero-title navy">Untie the Knot</h1>
          <p class="latolight hero-text charcoal">Divorce is never easy, but it doesn't have to be a financial burden.</p>
          <a href="/about" class="btn-hero btn-bright">Learn More</a>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag "untie.jpg", class: "untie-img" %>
      </div>
    </div>
  </div>
</div>
<!-- END HERO -->



<!-- OPTIONS CONTAINER -->
<div class="options-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="latolight text-center options-text navy">Choose the option that best meets your needs.</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="option-hdr">
            <h3 class="latobold option-hdr-h3">Basic Divorce</h3>
            <p class="latolight option-hdr-p">No real estate or children involved.</p>
            <!--<p class="latolight option-hdr-pSub">No real estate or children involved.</p>-->
          </div>
          <div class="caption">
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One hour initial meeting</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Draft of documents and one revision</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One other thing as well as the other one that I just mentioned</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One possibly something else</p>

            <hr>
            <h2 class="latoblack caption-price">$1,500</h2>
            <p class="latolight payment-due">Payment due at initial consult.</p>
            <!--<h3 class="text-center latobold">Package 1</h3>-->
            <p><a href="#" class="btn btn-bright" role="button" data-toggle="modal" data-target="#package1">Get Started</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="option-hdr">
            <h3 class="latobold option-hdr-h3">Divorce with Real Estate</h3>
            <p class="latolight option-hdr-p">No real estate or children involved.</p>
            <!--<p class="latolight option-hdr-pSub">No real estate or children involved.</p>-->
          </div>
          <div class="caption">
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One hour initial meeting</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Draft of documents and one revision</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One other thing as well as the other one that I just mentioned</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One possibly something else</p>

            <hr>
            <h2 class="latoblack caption-price">$2,000</h2>
            <p class="latolight payment-due">Payment due at initial consult.</p>
            <!--<h3 class="text-center latobold">Package 1</h3>-->
            <p><a href="#" class="btn btn-bright" role="button" data-toggle="modal" data-target="#package2">Get Started</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="option-hdr">
            <h3 class="latobold option-hdr-h3">Divorce with Children</h3>
            <p class="latolight option-hdr-p">No real estate or children involved.</p>
            <!--<p class="latolight option-hdr-p whiteSub">No real estate or children involved.</p>-->
          </div>
          <div class="caption">
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One hour initial meeting</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">Draft of documents and one revision</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One other thing as well as the other one that I just mentioned</p>
            <p class="latolight caption-arrow"><span class="glyphicon glyphicon-ok light-gray icon-pad" aria-hidden="true"></span></p>
            <p class="latolight caption-text">One possibly something else</p>

            <hr>
            <h2 class="latoblack caption-price">$2,500</h2>
            <p class="latolight payment-due">Payment due at initial consult.</p>
            <!--<h3 class="text-center latobold">Package 1</h3>-->
            <p><a href="#" class="btn btn-bright" role="button" data-toggle="modal" data-target="#package3">Get Started</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END OPTIONS -->

<!-- PROFILE CONTAINER -->
<div class="profile-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-0 col-md-2">
        <%= image_tag "connie_sq.jpg", class: "profile-img_sq" %>
      </div>
      <div class="col-xs-12 col-md-10">
        <div class="open-quote">
          <%= image_tag "open_quote.png", width: "50px" %>
        </div>
        <h2 class="latoregular navy">Let me help you walk through the details of your divorce and save you time and money.</h2>
        <h3 class="latolight text-right">&mdash; Connie Chadwick, Attorney&nbsp;at&nbsp;Law</h3>
      </div>
    </div>
  </div>
</div>
<!--<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "connie2.jpg", class: "profile-img" %>
    </div>
    <div class="col-md-9">
      <h2 class="latoblack">This doesn't have to be at all painful!</h2>
    </div>
  </div>
</div>-->
<!-- END PROFILE -->

<!-- FOOTER CONTAINER -->
<%= render 'partials/footer' %>
<!-- END FOOTER -->




<!-- MODAL FOR PACKAGE 1 -->
<!-- Modal -->
<div class="modal fade" id="package1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <%= form_for Prospect.new do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title latoregular text-center navy" id="myModalLabel">Basic Divorce Info</h3>
      </div>
      <div class="modal-body">
        
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Full Name</label>
                <%= f.text_field :full_name, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Date of Marriage</label>
                <%= f.text_field :date_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">County of Marriage</label>
                <%= f.text_field :county_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Street Addresss</label>
                <%= f.text_field :street, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">City</label>
                <%= f.text_field :city, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">State</label>
                <%= f.text_field :state, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Zip</label>
                <%= f.text_field :zip, class: "form-control-modal" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How long resided there?</label>
                <%= f.text_field :resided_how_long, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Email</label>
                <%= f.text_field :email, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Phone</label>
                <%= f.text_field :phone, class: "form-control-modal" %>
              </div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", class: "btn btn-lime", name: "home1" %>
        <!--<button type="button" class="btn btn-lime">Submit</button>-->
       
      </div>
    </div>
     <% end %>
  </div>
</div>
<!-- END PACKAGE 1 MODAL -->

<!-- MODAL FOR PACKAGE 2 -->
<!-- Modal -->
<div class="modal fade" id="package2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <%= form_for Prospect.new do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title latoregular text-center navy" id="myModalLabel">Divorce with Property Info</h3>
      </div>
      <div class="modal-body">
        
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Full Name</label>
                <%= f.text_field :full_name, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Date of Marriage</label>
                <%= f.text_field :date_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">County of Marriage</label>
                <%= f.text_field :county_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Street Addresss</label>
                <%= f.text_field :street, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">City</label>
                <%= f.text_field :city, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">State</label>
                <%= f.text_field :state, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Zip</label>
                <%= f.text_field :zip, class: "form-control-modal" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How long resided there?</label>
                <%= f.text_field :resided_how_long, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Email</label>
                <%= f.text_field :email, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Phone</label>
                <%= f.text_field :phone, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                <input type="checkbox" value="" id="checkbox2">
                <label for="checkbox2" class="green-label latoregular">
                  Check if you co-own a business
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                <input type="checkbox" value="" id="checkbox1">
                <label for="checkbox1" class="green-label latoregular">
                  Check if you co-own real estate
                </label>
              </div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", class: "btn btn-lime", name: "home2" %>
      </div>
     
    </div>
  <% end %>
  </div>
</div>
<!-- END PACKAGE 2 MODAL -->

<!-- MODAL FOR PACKAGE 3 -->
<!-- Modal -->
<div class="modal fade" id="package3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <%= form_for Prospect.new do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title latoregular text-center navy" id="myModalLabel">Divorce with Children Info</h3>
      </div>
      <div class="modal-body">
        
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Full Name</label>
                <%= f.text_field :full_name, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Date of Marriage</label>
                <%= f.text_field :date_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">County of Marriage</label>
                <%= f.text_field :county_of_marriage, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="green-label latoregular">Street Addresss</label>
                <%= f.text_field :street, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">City</label>
                <%= f.text_field :city, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">State</label>
                <%= f.text_field :state, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Zip</label>
                <%= f.text_field :zip, class: "form-control-modal" %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How long resided there?</label>
                <%= f.text_field :resided_how_long, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Email</label>
                <%= f.text_field :email, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">Phone</label>
                <%= f.text_field :phone, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">How many children?</label>
                <%= f.text_field :number_of_children, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="green-label latoregular">What are their ages?</label>
                <%= f.text_field :ages, class: "form-control-modal" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox checkbox-default">
                <label class="green-label latoregular">
                  <input type="checkbox" value="">
                  Check if you co-own a business
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox">
                <input type="checkbox" value="" id="checkbox1">
                <label for="checkbox1" class="green-label latoregular">
                  Check if you co-own real estate
                </label>
              </div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Submit", class: "btn btn-lime", name: "home3" %>
      </div>
    
    </div>
      <% end %>
  </div>
</div>
<!-- END PACKAGE 3 MODAL -->
