<div class="navbar-container">
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand latoblack" href="/">Connie Chadwick Family Law</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
  

        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'about' %>"><a href="/about">About</a></li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'bio' %>"><a href="/bio">Bio</a></li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'faq' %>"><a href="/faq">FAQ</a></li>
        <li class="<%= 'active' if params[:controller] == 'posts' && params[:action] == 'index' || params[:action] == 'show' %>"><a href="/posts">Blog</a></li>
        <% if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>


        
        <!--<li><a href="/bio">Bio</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/posts">Blog</a></li>-->

        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<div class="page-container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="latoblack">Oops...looks like this page does not exist!</h2>
			</div>
		</div>
	</div>
</div>
<div class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 class="latolight ft-hdr light-yellow">Pages</h3>
        <p class="latolight pages-ft"><%= link_to "About", about_path, class: "footer-link" %></p>
        <p class="latolight pages-ft"><%= link_to "Bio", bio_path, class: "footer-link" %></p>
        <p class="latolight pages-ft"><%= link_to "Blog", posts_path, class: "footer-link" %></p>
        <p class="latolight pages-ft"><%= link_to "FAQ", faq_path, class: "footer-link" %></p>
      </div>
      <div class="col-md-5">
        <h3 class="latolight ft-hdr light-yellow">Recent Posts</h3>
        
      </div>
      <div class="col-md-4">  
        <h3 class="latolight ft-hdr light-yellow">Follow</h3>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3">
            <%= link_to image_tag("facebook_g.png", width: "50", class: "follow-img-g"), "https://www.facebook.com/ConnieChadwickLaw", target: "_blank" %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <%= link_to image_tag("linkedin_g.png", width: "50", class: "follow-img-g"), "https://www.linkedin.com/pub/connie-chadwick/78/194/543", target: "_blank" %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <%= link_to image_tag("twitter_g.png", width: "50", class: "follow-img-g"), "https://twitter.com/AttyGirl2014", target: "_blank" %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <%= link_to image_tag("google_plus_g.png", width: "50", class: "follow-img-g"), "https://plus.google.com/u/0/112227991239529852628/posts", target: "_blank" %>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</div>

