<% content_for :title do %>
	<%= @post.title %>
<% end %>
<%= render 'partials/navbar' %>
<div class="post-pg">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="post-container">
					<h2 class="latoblack post-title"><%= @post.title %></h2>
					<p class="latoregular post-detail charcoal">Posted on <%= @post.pub_date.strftime('%B %-d, %Y') %> in <span class="lime"><%= raw tag_links(@post.all_tags) %></span></p>
					<div class="post-text">
						<%= sanitize @post.body %>
					</div>
				</div>
				<p class="latolight main-text">
					<%= link_to posts_path do %>
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to all posts
					<% end %>
				</p>
			</div>
			<div class="col-md-offset-1 col-md-3">
				<div class="sidebar-container">s
					<div class="sidebar-follow">
						<h3 class="latoregular text-center">Follow</h3>
						<p class="text-center">
        		  <%= render 'social' %>
        		</p>
					</div>
					<div class="sidebar-twitter">
						<h3 class="latoregular text-center">Twitter</h3>
						<a class="twitter-timeline" href="https://twitter.com/AttyGirl2014" data-widget-id="626569985880670208">Tweets by @AttyGirl2014</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'partials/footer' %>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67516802-1', 'auto');
    ga('send', 'pageview');

</script>