<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - Connie Chadwick Law</title>
  <meta name="description" content="<%= yield :content %>">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= growlyflash_static_notices %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:image" content="http://www.untietheknottn.com/knot.jpg">
</head>
<body>


	<% if controller.controller_name == 'posts' %>
        <body data-no-turbolink>
      <% else %>
        <body >
      <% end %>



<%= yield %>
<!--<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>-->
</body>
</html>
